<div id="<%= dom_id dish %>">
  <p>
    <strong>Title:</strong>
    <%= dish.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dish.price %>
  </p>

  <p>
    <strong>Restaurants:</strong>
    <%= dish.restaurants_id %>
  </p>

</div>
